PORT=5001
NODE_ENV=development
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.ecbxdid.mongodb.net/taskmanager_saas?retryWrites=true&w=majority
JWT_SECRET=super_secret_jwt_key_taskmanager_saas_2026
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
